@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "./_utilities";

@import "../node_modules/bulma/bulma";

//GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $family-primary;
  background: #fff;
}

img {
  width: 100%;
}

// NAVBAR + HAMBURGER MENU

nav {
  background-color: #acaba8;
  padding: 1rem 4rem 1rem 2.5rem;
  opacity: 0.72;
  border-radius: 41px;

  @include for-phone {
    background: none;
  }
}
.navbar1 {
  display: flex;
  justify-content: center;
  opacity: 0.8;
  width: 100%;
  height: 100px;
  color: #fff;
  align-items: center;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 40px;
  transition: 0.5s;
  border-radius: 41px;

  @include for-phone {
    top: 0;
    padding: 0;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  li {
    margin-left: 2.5rem;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// .navbar.top {
//   background: transparent;
// }
.grey {
  color: $brownish-grey;
}

.grey:hover {
  text-decoration: underline;
  color: $brownish-grey;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-link {
  font-family: $family-primary;
  color: #fff;
  text-transform: uppercase;

  @include for-phone {
    font-size: 16px;
    color: #101010;
  }

  @include for-tablet {
    font-size: 14px;
    line-height: 30px;
  }

  @include for-desktop {
    font-size: 18px;
    line-height: 39px;
  }

  @include for-widescreen {
    font-size: 22px;
    line-height: 47px;
  }

  @include for-fullhd {
    font-size: 25px;
    line-height: 50px;
  }
}

@include for-phone {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbar1 {
    justify-content: flex-end;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

// Header with photo and title
.header {
  background: url(../_assets/images/header_cover.png) no-repeat center
    center/cover;
  position: relative;
  background-color: $pale;
  height: 100vh;

  @include for-phone {
    height: 32vh;
  }

  @include for-tablet {
    height: 60vh;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;

    @include for-phone {
      width: 300px;
      top: 60%;
      left: 40%;
    }

    @include for-tablet {
      top: 66%;
    }

    @include for-widescreen {
      top: 60%;
    }

    h1 {
      font-family: $family-third;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 200;

      @include for-phone {
        font-size: 20px;
        line-height: 18px;
        text-align: right;
      }

      @include for-tablet {
        font-size: 33px;
        line-height: 40px;
      }

      @include for-desktop {
        font-size: 44px;
        line-height: 77px;
      }

      @include for-widescreen {
        font-size: 55px;
        line-height: 77px;
      }

      @include for-fullhd {
        font-size: 83px;
        line-height: 77px;
      }
    }
    h2 {
      font-family: $family-secondary;
      color: #fff;
      text-align: right;
      text-decoration: underline 2px #fff;

      @include for-phone {
        font-size: 18px;
        line-height: 20px;
      }

      @include for-tablet {
        font-size: 30px;
        line-height: 40px;
      }

      @include for-desktop {
        font-size: 30px;
        line-height: 40px;
      }

      @include for-widescreen {
        font-size: 30px;
        line-height: 77px;
      }

      @include for-fullhd {
        font-size: 50px;
        line-height: 77px;
      }
    }
  }

  &__logo {
    width: 157px;
    margin-top: 1.5rem;

    @include for-phone {
      width: 56px;
    }

    @include for-tablet {
      width: 65px;
    }

    @include for-desktop {
      width: 87px;
    }

    @include for-widescreen {
      width: 87px;
    }
  }
}

// Block with paragraph
.text {
  padding: 1rem 3rem;

  @include for-phone {
    font-size: 14px;
    line-height: 22px;
  }

  @include for-tablet {
    font-size: 14px;
    line-height: 25px;
  }

  @include for-desktop {
    font-size: 16px;
    line-height: 30px;
  }

  @include for-widescreen {
    font-size: 16px;
    line-height: 30px;
  }

  @include for-fullhd {
    font-size: 24px;
    line-height: 50px;
  }

  &-first-block {
    font-family: $family-primary;
    font-weight: 100;
    color: $brownish-grey;
    max-width: 1088px;
    margin: 0 auto;

    a,
    a:hover {
      text-decoration: underline;
      color: $brownish-grey;
    }
  }
}

// Block with one photo
.photo {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: $brownish-grey;

  @include for-phone {
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
  }

  @include for-tablet {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

// SECTION: ISKUSTVA
.iskustva {
  background-color: $light-pink;
}

.card2 {
  background: $cement;
  padding: 2rem;
  text-align: center;
  color: white;

  h3 {
    font-family: $family-primary;
    color: white;
    font-weight: 800;
    text-transform: uppercase;

    @include for-phone {
      font-size: 18px;
      line-height: 20px;
    }

    @include for-tablet {
      font-size: 20px;
      line-height: 30px;
    }

    @include for-desktop {
      font-size: 40px;
      line-height: 50px;
    }

    @include for-widescreen {
      font-size: 40px;
      line-height: 50px;
    }

    @include for-fullhd {
      font-size: 60px;
      line-height: 1.5;
    }
  }

  h4 {
    font-family: $family-secondary;
    color: white;
    padding-top: 2rem;

    @include for-phone {
      font-size: 18px;
      line-height: 20px;
    }

    @include for-tablet {
      font-size: 20px;
      line-height: 30px;
    }

    @include for-desktop {
      font-size: 40px;
      line-height: 50px;
    }

    @include for-widescreen {
      font-size: 40px;
      line-height: 50px;
    }

    @include for-fullhd {
      font-size: 50px;
      line-height: 1.2;
    }
  }

  h4:last-of-type {
    padding: 0;
  }

  p {
    font-family: $family-primary;
    color: white;
    font-weight: 600;
    margin-top: 1rem;

    @include for-phone {
      font-size: 14px;
      line-height: 20px;
    }

    @include for-tablet {
      font-size: 18px;
      line-height: 22px;
    }

    @include for-desktop {
      font-size: 22px;
      line-height: 1.14;
    }

    @include for-widescreen {
      font-size: 22px;
      line-height: 1.14;
    }

    @include for-fullhd {
      font-size: 30px;
      line-height: 1.67;
    }
  }
}

.section__wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.mini-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  margin-top: 4rem;

  @include for-phone {
    margin-top: 1rem;
    grid-gap: 0;
  }

  @include for-tablet {
    margin-top: 2rem;
  }
}

.mini-container2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;

  @include for-phone {
    margin-top: 1rem;
    grid-gap: 0;
  }

  @include for-tablet {
    margin-top: 2rem;
  }

  img {
    width: 80%;
  }

  .image__wrapper {
    background-color: $cement;
    height: 500px;
    position: relative;
    top: -500px;
    width: 500px;
  }
}

.mini-container3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;

  @include for-phone {
    margin-top: 1rem;
    grid-gap: 0;
  }

  @include for-tablet {
    margin-top: 2rem;
  }

  img {
    width: 46%;
  }
}

.line {
  height: 1px;
  width: 17rem;
  background: #fff;
  display: block;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: $brownish-grey;
  background-color: #fff;
  border: none;
  font-family: $family-third;
  font-size: 14px;
  line-height: 1.07;
  margin-top: 30px;
  transition: all 0.3s ease-in;

  &:hover {
    color: #fff;
    background-color: $brownish-grey;
  }
}

.photo-wrapper3 {
  display: flex;
  justify-content: space-evenly;

  img {
    width: 30%;
  }
}

.section__photos {
  margin-top: 2rem;
  @include for-phone {
    margin-top: 1rem;
  }
}

.mini-container4 {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
}

/* Flex columns */
.savjeti {
  max-width: 1000px;
  margin: 0 auto;

  @include for-desktop {
    max-width: 700px;
  }

  @include for-tablet {
    max-width: 500px;
  }
}
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.flex-columns .columnn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .columnn .column-1,
.flex-columns .columnn .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: $cement;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h3 {
  margin-bottom: 10px;

  font-family: $family-primary;
  color: white;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;

  @include for-phone {
    font-size: 18px;
    line-height: 20px;
  }

  @include for-tablet {
    font-size: 20px;
    line-height: 30px;
  }

  @include for-desktop {
    font-size: 40px;
    line-height: 50px;
  }

  @include for-widescreen {
    font-size: 40px;
    line-height: 50px;
  }

  @include for-fullhd {
    font-size: 60px;
    line-height: 1.5;
  }
}

.flex-columns p {
  margin: 20px 0;

  font-family: $family-primary;
  color: white;
  text-align: center;
  font-weight: 600;
  @include for-phone {
    font-size: 14px;
    line-height: 20px;
  }

  @include for-tablet {
    font-size: 18px;
    line-height: 22px;
  }

  @include for-desktop {
    font-size: 22px;
    line-height: 1.14;
  }

  @include for-widescreen {
    font-size: 22px;
    line-height: 1.14;
  }

  @include for-fullhd {
    font-size: 30px;
    line-height: 1.67;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: $brownish-grey;
  background-color: #fff;
  border: none;
  font-family: $family-third;
  font-size: 14px;
  line-height: 1.07;
  margin: 0 auto;
  transition: all 0.3s ease-in;

  &:hover {
    color: #fff;
    background-color: $brownish-grey;
  }
}

//FOOTER
.footer {
  background-color: $white;
}
